<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="option">
    <tr>
        <td>
            <label for="birthday">生 日</label>
        </td>
        <td>
            <select id="birthday" name="birthday">
                <option value="">---请选择月份---</option>
                <option value="">1月</option>
                <option value="">2月</option>
                <option value="">3月</option>
                <option value="">4月</option>
                <option value="">5月</option>
                <option value="">6月</option>
                <option value="">7月</option>
                <option value="">8月</option>
                <option value="">9月</option>
                <option value="">10月</option>
                <option value="">11月</option>
                <option value="">12月</option>
            </select>
        </td>
        <td>
            <label>
                <select name="birthday">
                    <option class="op" value="">---请选择日---</option>
                    <option value="">1日</option>
                    <option value="">2日</option>
                    <option value="">3日</option>
                    <option value="">4日</option>
                    <option value="">5日</option>
                    <option value="">6日</option>
                    <option value="">7日</option>
                    <option value="">8日</option>
                    <option value="">9日</option>
                    <option value="">10日</option>
                    <option value="">11日</option>
                    <option value="">12日</option>
                    <option value="">13日</option>
                    <option value="">14日</option>
                    <option value="">15日</option>
                    <option value="">16日</option>
                    <option value="">17日</option>
                    <option value="">18日</option>
                    <option value="">19日</option>
                    <option value="">20日</option>
                    <option value="">21日</option>
                    <option value="">22日</option>
                    <option value="">23日</option>
                    <option value="">24日</option>
                    <option value="">25日</option>
                    <option value="">26日</option>
                    <option value="">27日</option>
                    <option value="">28日</option>
                    <option value="">29日</option>
                    <option value="">30日</option>
                    <option value="">31日</option>
                </select>
            </label>
        </td>
    </tr>
</div>


<div class="sex">
    <label for="sex">性 别</label>
    <br/>
    <span class="people_sex">
                                <img alt="男" src="../img/man.png" width="20">
                                <input checked id="sex" name="sex" type="radio" value="man">
                                <span style="color: #00baff">公子</span>
                            </span>
    <span class="people_sex">
                                <img alt="女" src="../img/women.png" width="20">
                                <input name="sex" type="radio" value="women">
                                <span style="color: hotpink">姑娘</span>
                            </span>
</div>

<span>
                            <label for="userEmail">邮 箱</label>
                            <input class="text" id="userEmail" name="userEmail" placeholder="xxxx@example.com"
                                   required="required"
                                   type="email">
                        </span>
</body>
</html>