<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../CSS/index.css">

</head>

<body>
<script src="../JS/index.js"></script>
<header>
    <div class="nav">
        <ul>
            <li class="active"><a href="">首页</a></li>
            <li><a href="content.html">文化纵览</a></li>
            <li><a href="login.html">登录</a></li>
            <li><a href="register.html">注册</a></li>
        </ul>
    </div>
</header>
<div class="wrap">

    <div class="logo">
        <img src="../img/工艺品.png" alt="" class="cartoon_0">
    </div>

    <div class="banner">
        <div class="desc">
            <div class="name">
                <h1> 标语</h1><br>
                <div class="line"></div>
                <br>
                <p>保护 | 传承 | 创新</p><br>
            </div>
            <p>秉承更有温度、更有深度、更有影响力的原则传承非遗。
            </p>
        </div>
    </div>
    <div class="content">
        <!-- 百叶窗部分  过渡动画-->
        <ul class="box">
            <li>
                <a href="https://baike.baidu.com/item/%E4%B8%AD%E5%9B%BD%E4%BC%A0%E7%BB%9F%E8%8A%82%E6%97%A5/396100"
                   target="_blank">
                    <img src="../img/清明.png" alt="">
                    <div class="text">
                        传统节日——清明
                    </div>
                </a>
            </li>
            <li>
                <a href="http://www.cgujian.com/" target="_blank">
                    <img src="../img/杭州塔.png" alt="">
                    <div class="text">
                        传统建筑——雷峰塔
                    </div>
                </a>
            <li>
                <a href="https://baike.baidu.com/item/%E8%AF%B8%E5%AD%90%E7%99%BE%E5%AE%B6/16808" target="_blank">
                    <img src="../img/诸子百家.png" alt="">
                    <div class="text">
                        传统文化——诸子百家
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.meishichina.com/" target="_blank">
                    <img src="../img/青团.png" alt="">
                    <div class="text">
                        传统美食——青团
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.ihchina.cn/" target="_blank">
                    <img src="../img/苏绣.png" alt="传统工艺">
                    <div class="text">
                        传统工艺——苏绣
                    </div>
                </a>
            </li>
            <li>
                <a href="http://xi-qu.com/" target="_blank">
                    <img src="../img/非遗昆曲.png" alt="中华戏曲">
                    <div class="text">
                        中华戏曲——昆曲
                    </div>
                </a>
            </li>
            <li>
                <a href="http://www.zgwushu.com.cn/" target="_blank">
                    <img alt="中国武术" src="../img/功夫.jpg">
                    <div class="text">
                        中国武术——少林寺
                    </div>
                </a>
            </li>
            <li>
                <a href="http://www.dili360.com/" target="_blank">
                    <img src="../img/名山大川2.png" alt="名山大川">
                    <div class="text">
                        名山大川
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 留言板部分 -->
    <div class="message">
        <div class="message_content">

            <div class="left">
                <div class="ta">
                    <label for="text">留言</label>
                    <textarea class="text" name="text" id="text" cols="100" rows="100"
                              placeholder="给我们留言吧！！！"></textarea>
                </div>
                <div class="anniu">
                    <button class="btn" name="btn">发布</button>
                    <button id="delete">删除</button>
                </div>

            </div>

            <div class="right">
                <div class="right-con">
                    <ul id="ul" class="ul">
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <!-- 页脚 -->
    <div id="footer" class="mycolor">

        <p>版权所有：
            <a href="https://www.12371.cn/2020/06/29/ARTI1593360770408357.shtml">受法律保护</a>
        </p><br>
        <p>联系方式：。。。。。。。。。。</p><br>
        <p>欢迎加入——非遗保护与传承！在这里您将感受到华夏五千年文明的深厚底蕴!</p>
        <a href="http://www.sosctwh.com/index.html" target="_blank">了解更多</a>
    </div>
</div>

</body>
</html>